.projects {
  height: 100%;
  width: 250px;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 25px;
}

.first {
  color: #808080;
  margin-top: -600px; /* ajusta solo el espacio inferior */
}

h3 {
  margin-top: -600px;
}
